*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

h1 {
    font-size: 300px;
    z-index: 1000;
    color: rgba(255, 255, 255, 0.7);
}
